@import url('https://fonts.googleapis.com/css?family=Lato:300|Source+Code+Pro:300');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	cursor: url('img/cursor.png'), default;
}

body {
	background: #111;
	overflow-x: hidden;
	-ms-overflow-style: scrollbar;
}

div {
	padding: 20px;
}

h1, h2, h3, h4, h5, h6, a {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.monospace {
	font-family: 'Source Code Pro', monospace;
}

p {
	font-size: 14px;
	line-height: 25px;
	padding-top: 20px;
}

a {
	color: #000 !important;
	position: relative;
	text-decoration: none;
	font-size: 12px;
}
a:hover {
	text-decoration: none !important;
}
a:focus {
	text-decoration: line-through;
}
a:before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 0;
	height: 100%;
	bottom: 0;
	left: -5%;
	background-color: yellow;
	visibility: hidden;
	-ms-transform: skewX(-20deg); /* IE 9 */
	-webkit-transform: skewX(-20deg); /* Safari */
	transform: skewX(-20deg);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
	width: 110%;
	visibility: visible;
}

.page-wrapper{
	background: rgb(236, 205, 190);
	width: 100%;
	height: 100vh;
	min-height: 500px;
	border: 10px #111 solid
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

footer {
	position: absolute;
	right: 80px;
	bottom: 40px;
}



a:hover .fa-circle,
a:focus .fa-circle {
	color: #000;
	transition: 0.25s ease-in-out;
}

i.fa.fa-circle.fa-stack-2x.red {
	padding: 1px;
}
.tooltip {
    position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	font-size: 10px;
    visibility: hidden;
    width: 100px;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
	margin-left: -50px;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
}